
/*    TIC TAC TOE     */
body{
    background-color: #114B5F;
    display: flex;
    justify-content: center;
}
h1{
    color:white;
}
.game{
    /* border:5px solid black; */
    height:300px;
    width:300px;
    display:flex;
    padding:2px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top:10px;
    margin-left:0%;
}
.box{
    height:90px;
    width:90px;
    border:1px solid black;
    /* margin:10px; */
    border-radius: 15px;
    background-color: #E4FDE1;
    color: black;
    font-size: 40px;
    box-shadow: 0 0 1 rem rgba(0,200,0,0.7);
}
.Ocolor{
    background-color: aquamarine;
}
.Xcolor{
    background-color: aqua;
}
.reset{
    background-color: black;
    color:white;
    height:40px;
    width:80px;
    border: 2px solid black;
    border-radius: 5px;
    font-size:large
}
.reset1{
    background-color: black;
    color:white;
    height:40px;
    width:80px;
    /* border: 2px solid black; */
    border-radius: 5px;
    font-size:large
}
.msg_text{
    font-size:4rem;
    color:black
}
.msg{
    width:800px;
    margin-bottom:30px;
    display:flex;
    flex-direction: column;
    margin:260px;
    justify-content: center;
    align-items:center;
}
.resprop{
    font-size:small;
    width:80px;
}
.hide{
    display:none;
}
